<section id=content>    
    <div class="col-14 main-text">
        <h1 class="primary">armaan shah</h1>
        <h3 class=subtitle><a href='#about' class="orange no-decoration medium">hi</a>, my name is <a href='#about' class="blue no-decoration medium">armaan</a>.  take a <a href='#/' class=red>look</a> at my most recent <a href='#/' class=red>work</a> below. drop a <a href='#contact' class=green>line</a>. let's <a href='#contact' class=purple>collaborate</a>.</h3>
        <div class=hidden-wrap><img  src="img/propic.jpg" class="product-img me-img medium-col-offset-2 col-offset-2 medium-col-8 col-5 blue-border left clear-left inlined "></div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-7 inlined">
            <h2 class="blue product-title title-font col-16">who i am</h2>
            <p class="thin product-description col-16">
                <span class=blue>tl;dr learn a lot, learn fast</span> ->
                what i admire in others is also what i aspire towards. problem is there is too much to admire. i dabble in many different roles in attempt to be a skilled developer, a musician, a designer, a teammate, a storyteller, an athelete, a leader, and 50 more things. it may be impossible but learning to fail well is just another on the list. time's ticking.
            </p>
        </div>
        
        <h5 class="col-offset-1 col-14 meta blue medium title-font">meta log</h5>
        <p class="thin col-offset-1 col-14"><span class="blue">meta (update 12/3/16)</span> -> i've been conflicted between being concise and personal. the current iteration of this site is an attempt to express what i've been upto, what i believe in, and what i aspire towards through colorful design. it can always use some work, so i'll do my best to keep working. </p>
        
    </div>
</section>