<section id=content>
    <div class="col-14 main-text">
<!--        <h1 class="primary">armaan shah</h1>-->
        <h3 class=subtitle>hi, my name is <a href='#/' class="no-decoration gray medium">armaan</a>. take a <a href='#work' class="green">look</a> at my work. drop a line. let's <a href='#contact' class=orange>collaborate</a>.</h3>
        <div class=about-img-wrap><img src="img/propic.jpg" class="hidden-wrap product-img me-img medium-col-offset-2 col-offset-1 medium-col-8 col-8 blue-border left clear-left inlined "></div>
        <div class="medium-col-offset-2 col-offset-1 about-desc medium-col-12 col-5 inlined">
            <h2 class="blue product-title title-font col-16">who i am</h2>
            <p class="thin product-description col-16">
                <span class="normal-thick">tl;dr learn a lot, learn fast - </span>
                what i admire in others is also what i aspire towards. beyond my <a href='#work' class="gray no-decoration">work</a> as a developer, i dabble in several different roles in attempt to be a skilled musician, designer, teammate, storyteller, athelete, leader, and 50 more things. it may be impossible, but learning to fail well is also another on the list. time's ticking.
            </p>
        </div>
        <div class="about-text clear col-offset-1 col-14 medium-col-12 medium-col-offset-2 ">
            <h2 class="blue product-title title-font col-16">how i work</h2>
            <p class="thin product-description col-16">
                <span class="normal-thick">tl;dr be scrappy + collaborate - </span> i am scrappy when it comes to getting work done, but if time permits, i'll be preoccupied in getting all the details right. i enjoy a team setting with a difficult problem. each member brings a new perspective and together we can create well rounded solutions.

            </p>
        </div>
        <div class="about-text clear col-offset-1 col-14 medium-col-12 medium-col-offset-2 ">
            <h2 class="blue product-title title-font col-16">what i do</h2>
            <p class="thin product-description col-16">
                <span class="normal-thick">tl;dr cs at northwestern + freelance - </span>
                i am a computer science major in the engineering school at northwestern university. i also handle development for several organizations and am always looking for an interesting freelance project.  take a look at my most recent <a href='#work' class="normal green">work</a> and let's <a href=#contact class="normal orange">connect</a>!

            </p>
        </div>

        <div class="meta-wrap col-16">
            <h5 class="col-offset-1 col-14 meta blue medium title-font"><a ng-click=metalog() >meta</a>{{log}}</h5>
            <p class="thin col-offset-1 col-14" ng-repeat="update in updates" ><span class="normal-thick">update {{update.date}} - </span> {{update.note}}<span ng-bind-html="update.emoji">{{update.emoji}}</span></p>
        </div>
    </div>
</section>
