<section id=content>    
    <div class="col-14 main-text">
<!--            <h1 class="primary">armaan shah</h1>-->
            <h3 class=subtitle>hi, my name is <a href='#/' class="blue">armaan</a>. take a <a href='#work' class="green">look</a> at my work. drop a line. let's <a href='#contact' class="gray no-decoration medium">collaborate</a>.</h3>
        <ul class="contact aligned col-16">
            <li class="contact-logo inlined"><a target="_blank"  href="https://www.linkedin.com/in/armaan-shah-108a77106
"><img  src="./img/social-icons/linkedin.png" class="col-10 "></a></li>
<!--            <li class="contact-logo inlined"><a target="_blank" href="https://github.com/armaanshah96"><img  src="./img/social-icons/github.png" class="col-10 "></a></li>-->
            <li class="contact-logo inlined"><a href="mailto:armaanshah96@gmail.com"><img src="./img/social-icons/mailbox.png" class="col-10 "></a></li>
            <li class="contact-logo inlined"><a target="_blank" href="https://www.facebook.com/armaan.shah.77"><img  src="./img/social-icons/facebook.png" class="col-10 "></a></li>
        </ul>
        <h5 class=thin>have questions/a project/a team or none of the sort?  let's connect, i'd love to contribute or hear more about you!</h5>
    </div>
</section>
<div footer></div>