<section id=content>    
    <div class="col-14 main-text">
        <h1 class="primary"><a class="no-decoration blue" href='#about'>armaan shah</a></h1>
        <h3 class=subtitle><a href='#about' class="orange">hi</a>, my name is <a href='#about' class="no-decoration gray">armaan</a>. take a <a href='#/' class="green">look</a> at my work. drop a line. let's <a href='#contact' class="gray no-decoration medium">collaborate</a>.</h3>
        <ul class="contact aligned col-16">
            <li class="contact-logo inlined"><a href="https://www.linkedin.com/in/armaan-shah-108a77106
"><img  src="./img/social-icons/linkedin.png" class="col-10 "></a></li>
<!--            <li class="contact-logo inlined"><a href="https://github.com/armaanshah96"><img  src="./img/social-icons/github.png" class="col-10 "></a></li>-->
            <li class="contact-logo inlined"><a href="mailto:armaanshah96@gmail.com"><img src="./img/social-icons/mailbox.png" class="col-10 "></a></li>
            <li class="contact-logo inlined"><a href="https://www.facebook.com/armaan.shah.77"><img  src="./img/social-icons/facebook.png" class="col-10 "></a></li>
        </ul>
    </div>
</section>
<div footer></div>