<section class=clearfix id=content>
    <div class="col-14 main-text">
        <h1 class="primary">armaan shah</h1>
        <h3 class=subtitle><a href='#about' class=orange>hi</a>, my name is <a href='#about' class=blue>armaan</a>.  take a <a href='#/' class="red medium no-decoration">look</a> at my most recent <a href='#/' class="red medium no-decoration">work</a> below. drop a <a  href='#contact' class=green>line</a>. let's <a href='#contact' class=purple>collaborate</a>.</h3>
        <ul class="works col-16">
            <li class="work-logo inlined"><a href=# scroll-to="dwsite"><img  src="img/logos/dwlogo.png" class=col-16></a></li>
            <li class="work-logo inlined"><a href=# scroll-to='escape'><img  src="img/logos/escape-logo.png" class=col-16></a></li>
            <li class="work-logo inlined"><a href=# scroll-to="metrics"><img src="img/logos/metrics-logo.png" class=col-16></a></li>
            <li class="work-logo inlined"><a href=# scroll-to="curate"><img  src="img/logos/curate-logo2.png" class=col-16></a></li>
        </ul>
    </div>
</section>

<section class=clearfix id=dwsite>   
    <div class="site-section col-14 red-border">
        <div class=hidden-wrap><a href="http://www.designworks.nu"><img  src="img/portfolio/DWImage.png" class="product-img medium-col-offset-2 col-offset-1 medium-col-12 col-7 gray-border left"></a></div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <a href="http://www.designworks.nu" class=no-decoration><h2 class="red product-title col-16">designworks</h2></a>
            <h5 class="thin product-description col-16">
                <span class=blue>front-end developer </span>-> the business of our sales and the creativity of our design expressed as a direct, to-the-point <a href="http://www.designworks.nu" class=blue>website</a> (with a colorful personality)
            </h5>
        </div>
    </div>  
</section>
      
<section class=clearfix id=escape>   
    <div class="site-section col-14 purple-border">
        <div class=hidden-wrap><a href="https://github.com/gauravsk3/escape_datascience"><img src="img/portfolio/escape.png" class="product-img rcol-offset-1 rmedium-col-offset-2 rmedium-col-12 col-7 gray-border right"></a></div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <a href="https://github.com/gauravsk3/escape_datascience" class=no-decoration><h2 class="purple product-title col-16">escape</h2></a>
            <h5 class="thin product-description col-16">
                <span class=blue>manager + developer </span>-> an itinerary generator to make the most of each day in Cape Town, South Africa all packaged into an <a href="https://github.com/gauravsk3/escape_datascience" class=blue>API</a> for easy access
            </h5>
        </div>
    </div>  
</section>
      
<section class=clearfix id=metrics>   
    <div class="site-section col-14 orange-border">
        <div class=hidden-wrap><a href="https://ashah.shinyapps.io/DwDashboard/"><img src="img/portfolio/kpidash.png" class="product-img medium-col-offset-2 col-offset-1 medium-col-12 col-7 gray-border left clear-left inlined "></a></div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <a href="https://ashah.shinyapps.io/DwDashboard/" class=no-decoration><h2 class="orange product-title col-16">kpi dash</h2></a>
            <h5 class="thin product-description col-16">
                <span class=blue>data analytics developer </span>-> a dashboard to track all financial and sales metrics for designworks. tabulated and visualized in an <a href="https://ashah.shinyapps.io/DwDashboard/" class=blue>R shiny app</a> (with example data).
            </h5>
        </div>
    </div>  
</section>

<section class=clearfix id=curate>   
    <div class="site-section col-14 green-border">
        <div class=hidden-wrap><a href="https://github.com/armaanshah96/cuRate"><img  src="img/portfolio/curate.png" class="product-img rcol-offset-1 rmedium-col-offset-2 rmedium-col-12 col-7 gray-border right clear-right inlined "></a></div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <a href="https://github.com/armaanshah96/cuRate" class=no-decoration><h2 class="green product-title col-16">curate</h2></a>
            <h5 class="thin product-description col-16">
                <span class=blue>developer </span>-> get your bite-sized update on your favorite twitter handles in your very own channel via <a href="https://github.com/armaanshah96/cuRate" class=blue>slack webhook</a>.
            </h5>
        </div>
    </div>  
</section>
<footer class=col-16>
    <a class="aligned col-4" href=# scroll-to="content">
        <h6 class="blue col-16 medium gray-border clear aligned">back to top</h6>
    </a>
</footer>