<section class=clearfix id=content>
    <div class="col-14 main-text">
<!--        <h1 class="primary">armaan shah</h1>-->
        <h3 class=subtitle>hi, my name is <a href='#/' class="blue">armaan</a>.  take a <a href='#work' class="gray medium no-decoration">look</a> at my work. drop a line. let's <a href='#contact' class=orange>collaborate</a>.</h3>
        <ul class="works inlined col-16">
            <li class="work-logo col-3 inlined"><a href='#work' scroll-to="juggleboard"><img src="img/logos/juggleboard-logo.png" class=col-6></a></li>
            <li class="work-logo col-3 inlined "><a href='#work' scroll-to="ccc"><img  src="img/logos/ccc-logo.png" class=col-6></a></li>
<!--            <li class="work-logo col-3 inlined"><a href='#work' scroll-to="dwsite"><img  src="img/logos/dwlogo.png" class=col-7></a></li> -->
            <li class="work-logo col-3 inlined"><a href='#work' scroll-to='escape'><img  src="img/logos/escape-logo.png" class=col-6></a></li>
        </ul>
    </div>
    <a class="custom-buttom centered" href="#" scroll-to="dwsite">
        <i aria-hidden="true" data-x-icon="" class="x-icon-angle-down"></i>
    </a>
</section>

<section class=clearfix id=juggleboard>
    <div class="site-section col-offset-1 inlined col-14 blue-border">
        <div class="hidden-wrap right rcol-offset-1 rmedium-col-offset-2 rmedium-col-12 col-7"><a target=_blank  href="https://www.juggleboard.com"><img  src="img/portfolio/juggleboard.png" class="product-img-hover product-img col-16 inlined "></a></div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <h2 class="blue product-title col-16">juggleboard</h2>
            <h5 class="thin product-description col-16">
                <span class="normal-thick">the gist - </span> all your job applications tracked and managed in an intuitive <span class=normal>pipeline</span>.
                <br><br>
                <span class=normal-thick>the inspiration - </span> the job application process quickly devolves into a mess once you apply to more than a few companies. excel sheets and note-taking software are flexible and get the job done, but they are not built to provide the organization you need.
                <br><br>
            <span class=normal-thick>the role - </span>founder + manager + developer

            </h5>
            <a target=_blank href="https://www.juggleboard.com" class="cta generate-button no-decoration aligned blue-border col-9 normal-thick" type="button">go to site</a>
        </div>
    </div>
</section>

<section class=clearfix id=ccc>
    <div class="site-section col-offset-1 inlined col-14 orange-border">
        <div class="hidden-wrap left medium-col-offset-2 col-offset-1 medium-col-12 col-7"><a target=_blank href="./pyrus-src-paper.pdf">
<img src="img/portfolio/ccc.png" class="product-img-hover product-img col-16 inlined "></a></div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <h2 class="orange product-title col-16">Pyrus</h2>
            <h5 class="thin product-description col-16">
                <span class="normal-thick">the gist - </span> a collaborative coding game to scaffold the <span class=normal>learning</span> of novice programmers.</span>
                <br><br>
                <span class=normal-thick>the inspiration - </span> learning to code as a novice is difficult. This research aims to leverage pair programming methods and game design with novices to improve their self-regulation and collaborative abilities; skills demonstrated to support learning. Recently accepted CHI Student Research Competition in Montreal.
            <br><br>
            <span class=normal-thick>the role - </span>undergraduate researcher, co-lead
            </h5>
            <a target=_blank href="./pyrus-src-paper.pdf" class="cta generate-button no-decoration aligned blue-border col-8 normal-thick" type="button">go to paper</a>
        </div>
    </div>
</section>
<!--
<section class=clearfix id=dwsite>
    <div class="site-section col-offset-1  inlined col-14 red-border">

        <div class="hidden-wrap left medium-col-offset-2 col-offset-1 medium-col-12 col-7">
<a target=_blank href="http://www.designworks.nu"><img  src="img/portfolio/DWImage.png" class="product-img-hover product-img col-16"></a>
</div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <h2 class="red product-title col-16">designworks</h2>
            <h5 class="thin product-description col-16">
                <span class="normal-thick">the gist - </span> the business of our sales and the creativity of our design expressed as a direct, to-the-point <span class=normal>website</span> (with a colorful personality).
                <br><br>
                <span class=normal-thick>the inspiration - </span> designworks had a goal to move away from conventional web design and an ambition to push what unconventional could be. thus this new website. the 'unconventional' ideas in that site helped create this one.
                <br><br>
                <span class=normal-thick>the role - </span>front-end developer
            <a target=_blank href="http://www.designworks.nu" class="cta generate-button no-decoration aligned blue-border col-8 normal-thick">go to site</a>
</h5>
        </div>

    </div>
</section>
-->
<section class=clearfix id=escape>
    <div class="site-section col-offset-1 inlined col-14 purple-border">

<!--        <img src="img/logos/escape-logo.png" class="logo-tag">-->
        <div class="hidden-wrap right product-img rcol-offset-1 rmedium-col-offset-2 rmedium-col-12 col-7 right">
            <h6 class=normal>{{name}}</h6>
            <div class="col-16 gray-border normal escape-event" ng-repeat="event in newItinerary">
                <span class=normal>{{event.Tag}}</span> from {{event.StartTime}} to {{event.EndTime}} at <span class="normal-thick">{{event.Events}}</span>
            </div>

        </div>
        <div class="medium-col-offset-2 col-offset-1 product medium-col-12 col-6 inlined">
            <h2 class="purple product-title col-16">escape</h2>
            <h5 class="thin product-description col-16">
                <span class="normal-thick">the gist - </span> an itinerary generator to make the most of each day in Cape Town, South Africa all packaged into an <span class=normal>API</span> for easy access.
                <br><br>
                <span class=normal-thick>the background - </span> With 4 days and a small team, we scraped travel websites, designed a database, wrote procedures to make itineraries, and bundled it all up on an ec2 instance.
                <br><br>
            <span class=normal-thick>the role - </span>manager + developer
<!--                , scraping, aws ec2, R, angularjs-->

            </h5>

<!--            manager + developer  -->
            <button class="cta generate-button blue-border col-8 normal " type="button" ng-click="generate()">test it here</button>
        </div>
<!--
        <div class=hidden-wrap><a href="https://github.com/gauravsk3/escape_datascience"><img src="img/portfolio/escape.png" class="product-img rcol-offset-1 rmedium-col-offset-2 rmedium-col-12 col-7 gray-border right"></a></div>

-->
    </div>
</section>

<footer class=col-16>
    <a class="aligned col-4" href='#work' scroll-to="content">
        <h6 class="blue col-16 medium gray-border clear aligned">back to top</h6>
    </a>
</footer>
